* {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 5rem;
  font-weight: 100;
  padding-left: 1rem;
}

.navigation {
  padding-left: 1rem;
  padding-bottom: 0.6rem;
  display: flex;
}

.navigation-button {
  text-decoration: none;
  font-weight: lighter;
  margin-right: 0.5rem;
  color: grey;
  transition: padding 0.5s;
}

.navigation-button:hover {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content{
    padding-left: 1.5rem;
    margin-right: 20rem;
}

.content > *{
  display: flex;
  flex-wrap: wrap;
  margin-top: 11.5rem;
  height: 80vh;
}

.task {
  width: 12rem;
  height: 12rem;
  background: #444;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0 3rem 3rem 3rem;
  transition: width 0.5s;
}

.task:hover{
    width: 20rem;
    border-radius: 3rem 3rem 3rem 3rem;
}

.footer{
    padding-left: 1rem;
}